.main{
  
  padding: 10px;
  margin: auto;
  width: 50%;
  align-content: center;
  
}
.show{
  border: 2px solid;
  padding: 10px;
  margin: 5px;
  text-align: center;
}
body{
  background-color: rgb(48, 47, 47);
}

/* Light Mode */
.light-mode {
  background-color: #a19e9e;
  color: #141414;
  border: 2px solid black;
}

.light-mode .show {
  background-color: #f0f0f0;
  
}

.light-mode button {
  background-color: #ff4400;
  color: #ffffff;
}

/* Dark Mode */
.dark-mode {
  background-color: rgb(107, 100, 100);
  color: #cac9c9;
  border: 2px solid white;
}

.dark-mode .show {
  background-color: rgb(51, 51, 44);
  
}

.dark-mode button {
  background-color: #f94f07;
  color: #ffffff;
}


.dark{
  border-radius: 40%;
  margin: auto;
}